@import "reset.css";
@import url('https://fonts.cdn@import "reset.css";fonts.com/css/gilam');
@import url("https://fonts.cdnfonts.com/css/circe");

body {
  font-family: "Gilam", sans-serif;
  background: #171717;
  color: #fff;
}
.container {
  display: flex;
  margin: 0 auto;
  max-width: 1460px;
}
.logo {
  display: flex;
  margin-top: 46px;
  width: 1460px;
  justify-content: space-between;
}
.button_call {
  padding: 9px 24px;
  border: 1px solid #e4b564;
}
.button_call span {
  margin-left: 5px;
  color: #e4b564;
  text-align: center;
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}
.networks {
  margin-top: 128px;
}
.title {
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;
}
.text {
  margin-top: 41px;
  margin-bottom: 41px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}
.grid_networks {
  display: grid;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  grid-template-columns: repeat(6, 218px);
  grid-template-rows: 468px 468px;
  column-gap: 30px;
  row-gap: 27px;
}
.item1_networks {
  display: flex;
  grid-area: 1 / 1 / 2 / 3;
  justify-content: center;
  align-items: center;
  background: #634f2c;
}
.item2_networks {
  display: flex;
  grid-area: 1 / 3 / 2 / 5;
  text-align: center;
  align-items: center;
  background: #b4a385;
}
.item3_networks {
  display: flex;
  grid-area: 1 / 5 / 2 / 7;
  justify-content: center;
  align-items: center;
  background: #e4b564;
}
.item4_networks {
  display: flex;
  grid-area: 2 / 1 / 3 / 4;
  justify-content: center;
  align-items: center;
  background: #635a4a;
}
.item5_networks {
  display: flex;
  grid-area: 2 / 4 / 3 / 7;
  justify-content: center;
  align-items: center;
  background: #b08c4d;
}
.equipment {
  margin-top: 161px;
  margin-bottom: 191px;
}
.grid_equipment {
  display: grid;
  margin-top: 94px;
  font-style: normal;
  font-size: 20px;
  line-height: 25px;
  grid-template-rows: 140px 142px 58px 126px 157px 277px;
  grid-template-columns: repeat(3, 467px);
  column-gap: 30px;
  grid-template-areas:
    "item1 item2 item3"
    "item1 item2 item3"
    "item1 item2 item4"
    "item5 item2 item4"
    "item5 item6 item4"
    "item5 item6 item7";
}
.item1_equipment {
  grid-area: item1;
  display: flex;
  margin-bottom: 27px;
  font-weight: 400;
  background: #0e0e0e;
}
.item2_equipment {
  grid-area: item2;
  font-weight: 400;
  display: flex;
  margin-bottom: 27px;
  background: #242424;
}
.item3_equipment {
  grid-area: item3;
  display: flex;
  margin-bottom: 27px;
  font-weight: 500;
  background: #1f1f1f;
}
.item4_equipment {
  grid-area: item4;
  display: flex;
  margin-bottom: 27px;
  font-weight: 500;
  background: #0e0e0e;
}
.item5_equipment {
  grid-area: item5;
  display: flex;
  font-style: normal;
  font-weight: 500;
  background: #1f1f1f;
}
.item6_equipment {
  grid-area: item6;
  display: flex;
  font-weight: 500;
  height: 405px;
  color: #000000;
  background: #e4b564;
}
.item7_equipment {
  grid-area: item7;
  font-weight: 700;
  display: flex;
  background: #0a0909;
}
.text_equipment {
  margin-top: 44px;
  margin-left: 52px;
}
.section_projects {
  background: #0e0e0e;
}
.projects {
  margin-top: 172px;
}
.projects_title {
  display: flex;
  margin-bottom: 72px;
  width: 1460px;
  justify-content: space-between;
}
.button_all_projects {
  padding: 9px 40px;
  border: 1px solid #e4b564;
}
.button_all_projects span {
  color: #e4b564;
  text-align: center;
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}
.grid_projects {
  display: grid;
  justify-content: center;
  grid-template-rows: repeat(2, 391px);
  grid-template-columns: repeat(3, 487px);
}
.item1_projects {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #634f2c;
}
.item2_projects {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(232, 210, 171, 0.76);
}
.imag-mavis {
  display: block;
  margin: 0 auto;
  margin-bottom: 3px;
}
.mavis {
  display: block;
  margin: 0 auto;
}
.text_mavis {
  display: inline-block;
  margin-top: 16px;
  font-style: normal;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
}
.item3_projects {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e4b564;
}
.item4_projects {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #635a4a;
}
.item5_projects {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #b08c4d;
}
.item6_projects {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #634f2c;
}
footer {
  height: 239px;
}
